<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>ACERCA DE</ion-title>
  </ion-toolbar>
  <p>AURONCOMICS es una aplicación móvil diseñada para la compra y gestión de cómics. Ofrece un catálogo extenso y actualizado, opciones de pago seguras, y una interfaz intuitiva para explorar, seleccionar y adquirir cómics de diversos géneros y editoriales. Los usuarios pueden gestionar 
sus compras, acceder a ofertas y novedades, y disfrutar de una experiencia de compra personalizada desde cualquier dispositivo móvil.</p>
<ion-button color="success" [routerLink]="['/home']" >VOLVER</ion-button>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">acercade</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
