ion-header {
  .logo {
    width: 50px; /* Cambia este valor según el tamaño que desees */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block;
    margin: 0 auto; /* Centra la imagen en el contenedor */
  }
  
    ion-toolbar {
      --background: #3880ff; /* Color primario del proyecto */
      ion-title {
        color: #fff;
      }
    }
  }
  
  ion-content {
    ion-card {
      margin: 20px;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      padding: 16px;
  
      ion-card-header {
        ion-card-title {
          text-align: center;
          font-size: 1.5rem;
          color: #3880ff; /* Color primario del proyecto */
        }
      }
  
      ion-card-content {
        form {
          ion-item {
            margin-bottom: 16px;
          }
  
          ion-button {
            margin-top: 20px;
            --background: #3880ff; /* Color primario del proyecto */
            --color: #fff;
          }
        }
      }
    }
  }